@model GroundedClient.Models.Resource

<h1>@Model.ResourceName</h1>

        <li>Quote: @Model.ResourceQuote</li>
        <li>Exercise: @Model.ResourceExercise</li>
        <li><a href=@Model.ResourceMusic>Song Suggestion</a></li>
        <li><a href=@Model.ResourceLink>Resource for more info, tricks and tips</a></li>

<img src="@Model.ResourceImage" alt="@Model.AltDescription"> // This returns alt test but no image

