<h1>All Resources:</h1>

<ol>
@foreach (Resource resource in Model)
{
    <ul>
        <li>ID: @resource.ResourceId</li>
        <li>Name: @resource.ResourceName</li>
        <li>Quote: @resource.ResourceQuote</li>
        <li>Exercise: @resource.ResourceExercise</li>
        <li>Quote: @resource.ResourceMusic</li>
        <li>Exercise: @resource.ResourceImage</li>
        <li>Color: @resource.ResourceLink</li>
    </ul>
    <a href="/Resources/Details/@(resource.ResourceId)"><p>View Details</p></a>
    <br>
}
</ol>